{% extends 'base.html' %}
{% block content %}
<h2>Funciones</h2>
{% if perms.cine.add_funcion %}
<a href="{% url 'funcion_create' %}" class="btn btn-primary mb-3">Nueva Funcion</a>
{% endif %}
<ul class="list-group">
    {% for f in object_list %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
        {{ f.pelicula.titulo }} - {{ f.sala }} | {{ f.fecha_hora|date:"d/m/Y H:i" }} | ${{ f.precio }}
        {% if perms.cine.change_funcion %}
        <div>
            <a href="{% url 'funcion_update' f.id %}" class="btn btn-sm btn-warning">Editar</a>
            <a href="{% url 'funcion_delete' f.id %}" class="btn btn-sm btn-danger">Borrar</a>
        </div>
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endblock %}